<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar-hero.html" . }}

    <section class="section" style="flex:1">

      <div class="container">
        <div class="columns">

          <div class="column">
            <!-- Content -->
            <div style="min-height:56vh">
              {{- range where .Paginator.Pages "Type" "posts"}}
                {{ .Render "summary" }}
              {{- end }}
            </div>
            <br>
            <br>
            <br>

            <!-- Pagination -->
            {{ partial "pagination-list.html" . }}
          </div>

          <div class="column is-narrow">
            <!-- Taxonomy list -->
            {{ partial "sidenav.html" . }}
          </div>

        </div>
      </div>

    </section>

    {{ partial "footer.html" . }}

  </body>

</html>
